<%- include('./partials/header.ejs') %>
<main class="my-4">
  <% posts.forEach((post)=>{ %>
  <div class="mx-auto flex flex-col w-9/12">
    <h1 class="text-4xl text-slate-600 font-normal my-2"><%= post.title %></h1>
    <p class="text-sm text-slate-500">
      <%= (post.body.substring(0, 100)+"...") %>
      <a class="text-blue-600" href="/posts/<%= post._id %>">Read More</a>
    </p>
</div>
<% }) %>
</main>
<%- include('./partials/footer.ejs') %>
